## THIS IS ALL JUNK STYLES TO BE REMOVED
<style type="text/css">
.thebutton-wrap {
  text-align: center;
}

.thebutton-form {
  background: #FAFAFA;
  background-image: radial-gradient(50% 125%, #FFFFFF 25%, rgba(255,255,255,0.00) 100%);
  border: 1px solid #999999;
  overflow: hidden;
  font-family: Georgia;
  color: #4A4A4A;
  height: 80px;
  display: inline-block;
  padding-right: 70px;
  padding-left: 15px;
  margin: 10px auto;
}

#thebutton-timer {
  border: none;
  font-size: 80px;
  font-weight: bold;
  display: block;
  text-align: center;
  max-width: 100%;
}


#thebutton {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  width: 100px;
  height: 30px;
  line-height: 60px;
  font-size: 1px;
  text-indent: -999999px;
  background: #999999;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
  box-shadow: 0px 2px 0px 0px #666666;
  border-radius: 4px;
  border: none;
  outline: none;
}

#thebutton:active {
  background: #808080;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.20);
  border-radius: 4px;
}

.thebutton-form h1 {
  float: left;
  line-height: 60px;
  margin: 0;
  font-size: 24px;
  padding: 0 25px 0 10px;
}

.thebutton-wrap label {
  float: left;
  line-height: 60px;
  font-size: 30px;
}

.thebutton-wrap label:before {
  content: "☛";
}

.thebutton-wrap.complete label:before {
  content: "✓";
}

.thebutton-wrap.complete #thebutton {
  background: rgba(121,120,120,0.40);
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.10);
  cursor: not-allowed;
}

#thebutton {
}

.thebutton-pie {
  float: left;
  display: inline-block;
  width: 80px;
  height: 60px;
  line-height: 60px;
  margin-left: 15px;
  text-align: center;
}

#thebutton-timer {
  float: left;
  min-width: 60px;
  font-size: 32px;
  line-height: 60px;
  display: inline;
  max-width: 100px;
}

.thebutton-counter {
  float: left;
  line-height: 1.4;
  vertical-align: middle;
  height: 30px;
  margin-top: 15px;   /* hax */
  text-align: left;
}

.thebutton-counter span {
  line-height: 1;
}

.thebutton-participants {
  font-size: 12px;
}

.thebutton-participants-description {
  font-size: 12px;
  color: #737373;
}

</style>

<%!
    from babel.numbers import format_number
    from pylons import g
%>

<div class="thebutton-wrap c-hidden">
  <form class="thebutton-form">
    <h1>the button</h1>

    <label for="thebutton"></label>
    <button id="thebutton" title="BUTTON PRESS BUTTON PRESS IT BUTTON THE BUTTON PRESS IT PRESS THE BUTTON BUTTON BUTTON PRESS IT THE BUTTON THE BUTTON PRESS BUTTON IT PRESS IT THE BUTTON PRESS IT NOW">[you feel an overwhelming urge to press the button]</button>

    <div class="thebutton-pie"></div>

    <input type="number" readonly id="thebutton-timer" value="60">

    <div class="thebutton-counter">
      <span class="thebutton-participants">${format_number(thing.num_participants, locale=g.locale)}</span><br />
      <span class="thebutton-participants-description">&#32;participants</span>
    </div>
  </form>
</div>

<% from r2.lib import js %>
## YES THIS IS SUPER SCARY
<script type="text/javascript">
r.config.thebutton_websocket = "${unsafe(thing.websocket_url)}";
</script>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
${unsafe(js.use("thebutton"))}
